* {margin: 0; padding: 0}

header{
    /* display: flex;
	place-content: normal center;
    width:auto; */
    background-color: rgb(49, 49, 49);
    /*color: rgb(220, 220, 220);*/
    padding: 1%;
}
h1{
    font-size: 4vw;
    font-family: sans-serif;
}
nav{
    padding: 0.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px double rgb(0, 0, 0);
}
nav > img{
    width: 10%;
}
.cta {
    border: none;
    background: none;
}
  
.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
}
  
.cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}
  
.cta:hover svg {
    transform: translateX(0);
}
  
.cta:active svg {
    transform: scale(0.9);
}
  
.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
}
  
.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
/* main > img{
    width: 50%;
    padding: 2.5%;
} */
#container {
    
    padding-left: 2em;
    padding-right: 2em;
}
.d1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2em;
    flex: 1;
    padding: 2em;
    border-bottom: 0.5px double gray;

}
/* .d1 > a{
    
    justify-content: stretch;
} */
.im1{
    width: 50%;
    border-radius: 2em;
    transition: all 0.2s ease-in-out;
    justify-content:left;
}

.im1:hover{
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
  };
.im1:active{
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
  };
.paragrafo{
    font-size: 1.25em;
    line-height: 2em;
}
footer{
    margin: 2em;
}
